.MobileMenu {
  @include anim;
  position: absolute;
  left: -100%;
  top: 0;
  height: 100vh;
  background-color: transparent;
  width: 100%;
  padding-top: 56px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  display: none;

  @include sm-block{
      display: block;
  }

  .menuMobActive & {
    left: 0;
    background-color: $beige;
  }

  > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .MobileMenu__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      & + li {
        margin-top: 32px;
      }
    }
  }
  ul {
  }
  li {

  }
  a {
    @include fp(18, 16);
    font-family: $font-gabriola;
    color: $green;
    text-transform: uppercase;

    &:hover {
      color: $gold;
    }
    &.active {
      color: $gold;
    }
  }
  .MobileMenu__footer{
    display: flex;
    margin: auto 0 130px;

    li {
      & + li {
        margin-left: 20px;
      }
    }
  }
  .MobileMenu_lines {
    @include anim(.6s);
    position: absolute;
    bottom: 50px;
    max-width: 1440px;
    left: -60px;

    @include sm-block{
      left: -190px;
    };
  }
}
