$burgerBar: 2px;
$burgerBarOpen: 8px;
$burgerBarColor: $gold;
$burgerBarOpenColor: $gold;

.Burger {
  display: none;
  margin-left: 24px;
  z-index: 20;
  width: 100%;

  @include sm-block{
    display: block;
  };
  
  & .container {
    position: relative;
  }

}
.Burger-menu {
  position: absolute;
  right: 25px;
  top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 27px;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.3s all ease-out;
  background-color: transparent;

  @include xs-block{
    margin: 0 0 0 auto;
  };

  .menuMobActive & {
    background-color: transparent;
  }
}
.Burger-menu__bar{
  height: $burgerBar;
  background-color: $burgerBarColor;
  width: 100%;
  transition: 0.3s all ease-out;
  margin: 0 auto;


  .menuMobActive & {
    background-color: $burgerBarOpenColor;
  }
}
.js-burger-menu-active {

}
.menuMobActive .Burger-menu__bar:first-child {
  transform: translate(0, $burgerBarOpen);
}
.menuMobActive .Burger-menu__bar:nth-child(2) {
  width: 0;
}
.menuMobActive .Burger-menu__bar:last-child {
  transform: translate(0, -$burgerBarOpen);
}

.menuMobActive .Burger-menu__bar:first-child {
  transform: translate(0, $burgerBarOpen) rotate(45deg);
}
.menuMobActive .Burger-menu__bar:last-child {
  transform: translate(0, -$burgerBarOpen) rotate(-45deg);
}
