.Content {
  :last-child {
    margin-bottom: 0;
  }

  :first-child {
    margin-top: 0;
  }

  h1 {
    font-family: $font-gabriola;
    margin: 40px 0;
  }

  h2 {
    font-weight: 100;
    margin: 30px 0;
  }

  h3 {
    font-weight: 100;
    margin: 25px 0;
  }

  h4 {
    font-weight: 100;
    margin: 20px 0;
  }

  p {
    margin: 10px 0;
    @include fp(15, 15);
  }

  ul {
    font-family: $font-gilroy-r;
    margin: 10px 0;

    li {
      margin: 10px 0;
      padding-left: 15px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        @include center-vert();
        @include wh(5);
        background-color: $green;
        border-radius: 100%;
      }
    }

  }
  blockquote {
    position: relative;
    padding: 1em 40px;
    font-size: 15px;
    color: rgba($green-light, .7);
    margin: 40px 50px;

    @include xs-block{
      padding: 1em 20px;
      margin: 20px 10px;
    }

    &:after {
      position: absolute;
      content: '';
      left: 0;
      height: calc(100% - 30px);
      @include center-vert();
      width: 1px;
      background-color: $action;

    }
  }
  img {
    width: 100%;
    height: auto;
    margin: 40px 0;
  }
  ol {
    margin: 10px 0;
    display: list-item;
    padding-left: 10px;

    &::marker {
      color: $green;
      left: 10px;
    }
  }

  a {
    color: $gold;
    @include fp(15, 15);
    font-family: $font-gilroy-r;
    text-decoration: underline;
  }
}