.Header-section {
  @include anim();
  height: 95px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
  overflow: hidden;


  @include sm-block{
    height: 0;
  }
}
.Header {
  display: flex;
  justify-content: space-between;
}
.Header__Menu {

}
.Header__Burger {
  margin-left: auto;
}
