* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: $green;
  background-color: $background;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: repeat;
  font-family: $font-gabriola;

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &.fix {
    overflow: hidden;
  }
}

ul, li, p, a, h1, h2, h3, h4, h5, body, address, label {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active, textarea, textarea:hover, textarea:focus, textarea:active, select, select:hover, select:focus, select:active, option, option:hover, option:focus, option:active, div {
  outline: none;
}

a {
  transition: 0.3s all ease-out;
  display: inline-block;
  color: $black;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}

svg {
  width: 100%;
}

input {
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h1 p {
  @include fp(50, 40);
  font-family: $font-windy-rain;
  color: $green;
  font-weight: 100;

  @include xs-block {
    @include fp(40, 30);
  }
}

h2 {
  @include fp(32, 40);

  @include xs-block {
    @include fp(24, 32);
  }
;
}

h3 {
  @include fp(24, 32);
}

p {
  font-family: $font-gilroy-r;
  color: $green;
}

.debugGrid {
  @include debug(rgba(0, 0, 0, 0.4), 1px solid #ff0);
  z-index: 9999;
  pointer-events: none;
}

.container {
  @include container();
}

.debugGrid > div, .container {
  @include anim();
  @include lg(max-width, $break_md - $fields_lg * 2);
  @include md(max-width, $break_sm - $fields_md * 2);
  @include sm(max-width, $break_xs - $fields_sm * 2);
  @include xs(max-width, 100%);
}

.container-fluid {
  @include container-full();
}

.Error {
  position: absolute;
  bottom: 10px;
  right: 10px;
}