$black: #000;
$white: #FFF;

$background: #F9FAF6;
$text: #E7EAEF;
$action: #3AA8B5;

$gold: #C59F50;
$green: #004028;
$green-light: #2D5C24;
$beige: #F8F9F4;

$font-gabriola: 'Gabriola';
$font-windy-rain: 'Windy Rain';
$font-gilroy-b: 'Gilroy-Bold';
$font-gilroy-l: 'Gilroy-Light';
$font-gilroy-r: 'Gilroy-Regular';
